/*----------------*\
   CABECALHO LOGO
\*----------------*/

header.cabecalho .cabecalho-logo figure a {
    display: flex;
    align-items: center;
    gap: 1px;
    text-decoration: none;
    color: black;
}

/*--------------------*\
   CABECALHO PESQUISA
\*--------------------*/

.cabecalho-pesquisa--container{
    position: relative;
    width: 90%;
}

header.cabecalho .cabecalho-pesquisa__input{
    padding: 18px 0;
    padding-left: 24px;
    width: 100%;
    background: #f1f1f1;
    border: none;
    border-radius: 10px;
}

header.cabecalho .cabecalho-pesquisa__button{
    position: absolute;
    right: 10px;
    bottom: 8px;
    border: none;
    background: #999;
    padding: 10px 13px;
    border-radius: 6px;
}

header.cabecalho .cabecalho-pesquisa__button:hover{
    background: #7c7a7a;
}

/*--------------------*\
    CONTEÚDO
\*--------------------*/

main.banner div{
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

main.banner div p{
    background-color: rgba(143, 122, 82, 0.827);
    color: rgb(255, 254, 252);
    padding: 3px;
}

main.banner div button{
    color: rgb(239, 223, 223);
    background: rgb(47, 39, 39);
    padding: 3px;
    border: none;
    margin-bottom: 5px;
}

main.banner div button:hover, main.banner div button:focus {
    background:rgba(0, 0, 0, 0.679);
    transform: scale(1.03)
}

section.container article.noticiasAtualizadas h1{
    text-align: center;
    font-size: 2.2em;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

section.container article.noticiasAtualizadas ul.noticiasAtualizadas--lista li{
    border: 1px solid #594337;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
    overflow: hidden;
    background-color: rgba(156, 133, 133, 0.555);
}

section.container article.noticiasAtualizadas ul.noticiasAtualizadas--lista li:hover, section.container article.noticiasAtualizadas ul.noticiasAtualizadas--lista li:focus{
    transform: scale(1.01);
    background-color: rgba(156, 133, 133, 0.822);

}

section.container article.noticiasAtualizadas ul.noticiasAtualizadas--lista li img{
    width: 100%;
    height: 200px;
}

section.container article.noticiasAtualizadas ul.noticiasAtualizadas--lista li div.noticiasAtualizadas--lista_conteudo--informacoes{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

section.container article.noticiasAtualizadas ul.noticiasAtualizadas--lista li div.noticiasAtualizadas--lista_conteudo--informacoes div.noticiasAtualizadas--lista_conteudo--informacoes_tema h3 {
    padding: 5px;
    font-weight: bolder;
    font-size: 1.5em;
}

section.container article.noticiasAtualizadas ul.noticiasAtualizadas--lista li div.noticiasAtualizadas--lista_conteudo--informacoes span{
    margin-left: 5px;
}

section.container article.noticiasAtualizadas ul.noticiasAtualizadas--lista li div.noticiasAtualizadas--lista_conteudo--informacoes div.noticiasAtualizadas--lista_conteudo--informacoes_link {
    font-size: 1.5em;
    text-align: start;
    margin-left: 5px;
}

section.container article.artigoDoDia h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 2.2em;
    font-family: Arial, Helvetica, sans-serif;
}

section.container article.artigoDoDia img{
    width: 100%;
    height: 400px;
}

section.container article.artigoDoDia div.artigoDoDia-conteudo{
    font-size: 1.2em;
    padding: 10px;
    text-align: justify;
}

section.container article.artigoDoDia div.artigoDoDia-conteudo h2{
    text-align: center;
    margin: 10px 0;
}

footer div.rodape-detalhes{
    height: auto;
    background-color: rgba(39, 30, 30, 0.329);
    display: flex;
    justify-content: space-around;
}

footer div.rodape-detalhes div.rodape-detalhes_agradecimentos{
    width: 500px;
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: justify;
    padding: 20px 0;
}

footer div.rodape-detalhes div.rodape-detalhes_contatos{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

footer div.rodape-detalhes img{
    width: 40px;
    height: 40px;
}

footer div.rodape-autor{
    display: flex;
    justify-content: space-around;
}