@media(max-width: 1023px){
    header.cabecalho{
        font-size: 1.5rem;
    }

    header.cabecalho form.cabecalho-pesquisa{
        width: 400px;
    }

    header.cabecalho div.cabecalho-menu button span.menuEscondido{
        display: none;
    }

    footer div.rodape-detalhes{
        justify-content: space-between;
        gap: 10px;
    }

    footer div.rodape-detalhes div.rodape-detalhes_agradecimentos{
        margin-left: 15px;
    }

    footer div.rodape-detalhes div.rodape-detalhes_agradecimentos img{
        display: none;
    }
}

@media(max-width: 767px){
    header.cabecalho .cabecalho-logo figure a figcaption{
        display: none;
    }

    footer div.rodape-detalhes div.rodape-detalhes_contatos{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 200px;
    }

    footer div.rodape-detalhes div.rodape-detalhes_contatos a span{
        display: none;
    }
}

@media(max-width: 500px){
    header.cabecalho{
        justify-content: space-between;
        align-items: center;
    }

    header.cabecalho .cabecalho-pesquisa{
        display: none;
    }

    header.cabecalho .cabecalho-logo{
        margin-left: 35px;
    }
    
    header.cabecalho .cabecalho-menu{
        margin-right: 20px;
        gap:30px;
    }

    header.cabecalho .cabecalho-menu .botaoTelaPequena{
        font-size: 26px;
        background: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header.cabecalho .cabecalho-menu button img{
        width: 26px;
        height: 26px;
    }

    footer div.rodape-detalhes div.rodape-detalhes_contatos{
        flex-direction: column;
        width: 100px;
    }
}