/*-------------*\
    CABECALHO
\*-------------*/
header.cabecalho {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid rgb(235, 239, 237);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    background-color: white;
}

/*----------------*\
   CABECALHO LOGO
\*----------------*/

header.cabecalho .cabecalho-logo {
    height: 100%;
}

header.cabecalho .cabecalho-logo figure {
    display: flex;
    align-items: center;
    height: 100%;
}

/*--------------------*\
   CABECALHO PESQUISA
\*--------------------*/

header.cabecalho .cabecalho-pesquisa {
    height: 100%;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--------------------*\
   CABECALHO MENU
\*--------------------*/

header.cabecalho .cabecalho-menu {
    height: 100%;
    display: flex;
    gap: 10px;
}

header.cabecalho .cabecalho-menu .botaoTelaPequena{
    display: none;
}

header.cabecalho .cabecalho-menu button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

/*--------------------*\
    CONTAINER
\*--------------------*/

main.banner{
    width: 100%;
    height: 400px;
    background-image: url(../imagens/estudoBiblico.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

section.container{
    max-width: 1600px;
    background-color: #af9587;
    padding: 0;
}

section.container article.noticiasAtualizadas{
    margin: 40px 0;
    width: 100%;
}

section.container article.noticiasAtualizadas ul.noticiasAtualizadas--lista {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 40px;
}

section.container article.artigoDoDia{
    height: auto;
    width: 100%;
}

/*--------------------*\
    FOOTER
\*--------------------*/

footer{
    background-color: rgba(39, 30, 30, 0.801);
    color: white;
    display: flex;
    flex-direction: column;
}