/*-------------*\
    CABECALHO
\*-------------*/
header.cabecalho {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid rgb(235, 239, 237);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

/*----------------*\
   CABECALHO LOGO
\*----------------*/

header.cabecalho .cabecalho-logo {
    height: 100%;
}

header.cabecalho .cabecalho-logo figure {
    display: flex;
    align-items: center;
    height: 100%;
}

/*--------------------*\
   CABECALHO PESQUISA
\*--------------------*/

header.cabecalho .cabecalho-pesquisa {
    height: 100%;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--------------------*\
   CABECALHO MENU
\*--------------------*/

header.cabecalho .cabecalho-menu {
    height: 100%;
    display: flex;
    gap: 10px;
}

header.cabecalho .cabecalho-menu a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
}

.conteudo{
    max-width: 1200px;
    background-color: #ccc;
    height: 100%;
}

/*--------------------*\
    CONTAINER
\*--------------------*/

main.container{
    background-color: #f1f1f1;
    max-width: 1200px;
}